<nav>
    <div>
        <ul>
            <li>
                <a aria-current="page" routerLink="/list">
                    Home
                </a>
            </li>
            <li>
                <a aria-current="page" routerLink="/list">
                    Movies
                </a>
            </li>
            <li>
                <a aria-current="page" routerLink="/list">
                    Series
                </a>
            </li>
            <li>
                <a aria-current="page" routerLink="/list">
                    WishList
                </a>
            </li>
        </ul>
    </div>
</nav>