<div class="register-container">
  <h2>Regisztráció</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Név" formControlName="name" required />
    <input type="email" placeholder="Email" formControlName="email" required />
    <input type="password" placeholder="Jelszó" formControlName="password" required />
    <input type="password" placeholder="Jelszó újra" formControlName="confirmPassword" required />
    <button type="submit" [disabled]="registerForm.invalid">Regisztrálok</button>
  </form>
</div>